{% extends 'flashcards/base.html' %}

{% block content %}
<h1>Sprawdź się</h1>
</br>
  <form method="POST">
    {% csrf_token %}

{% for flashcard in flashcards %}

    <div class="card">

      <div class="card-header">
       <strong> {{ flashcard.front }} </strong>
      </div>

          <div class="card-body">
            <p class="card-text">

            {{ form.as_p }}
          </div>

    </div>
      </br>


    {% endfor %}
</br>
    <input type="submit" value="Sprawdź" class="btn btn-secondary">

  </form>

{% endblock %}
